<%- include('../layout/main-header') %>
</head>
<%- include('../layout/header') %>
  
<%- include('../layout/sidebar') %>

<%- include('../layout/content') %>

<section class="content-header">
  <h1>
    Page Header
    <small>Optional description</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
    <li class="active">Here</li>
  </ol>
</section>

<!-- Main content -->
<section class="content container-fluid">

  <!--------------------------
    | Your Page Content Here |
    -------------------------->
</section>

<%- include('../layout/footer') %>
<!-- ./wrapper -->

<%- include('../layout/main-footer') %>
</body>
</html>
