<%- include('../../layout/main-header') %>
</head>
<%- include('../../layout/header') %>
<%- include('../../layout/sidebar') %>
<%- include('../../layout/content') %>

<section class="content-header">
  <h1>Sensores</h1>
  <h2>Equipo</h2>
</section>

<section class="content container-fluid">

  <div class="row">
    <div class="col-xs-12">

    </div>
  </div>

</section>

<%- include('../../layout/footer') %>
<%- include('../../layout/main-footer') %>
</body>
</html>
