<% 
  var firstPage = 1;
  var nextPage = parseInt(pagination.currentPage) + 1;
  var lastPage = pagination.maxPage;
  var currentPage = parseInt(pagination.currentPage);
  var maxPage = pagination.maxPage;
  var offset = pagination.offset;
  var cantLinks = pagination.viewPage;
  
  if (cantLinks > maxPage) {
    cantLinks = 1;
    offset = 0;
  }
%>

<% if (pagination.totalItems > 0) { %>

	<ul class="pagination">
    <!-- Botón para navegar a la primera página -->
    <% if (currentPage == firstPage) { %>
      <li class="disabled"><span>&laquo;&laquo;</span></li>
    <% } else { %>
      <li><a href="<%= pagination.url + '?page=' + firstPage %>">&laquo;&laquo;</a></li>
    <% } %>

    <!-- Botón para navegar a la página anterior -->
    <% if (currentPage == firstPage) {%>
      <li class="disabled"><span>&laquo;</span></li>
    <% } else { %>
      <li><a href="<%= pagination.url + '?page=' + (currentPage - 1) %>">&laquo;</a></li>
    <% } %>

    <!-- Mostrar la numeración de las páginas, partiendo de la página actual hasta el maximo definido en $pagination.maxPages -->
    <% if (currentPage <= cantLinks - offset) { %>
      <% for(i = firstPage; i <= cantLinks; i++) { %>
        <% if (i == currentPage) {%>
          <li class="active"><span><%= i %></span></li>
        <% } else { %>
          <li><a href="<%= pagination.url + '?page=' + i %>"><%= i %></a></li>
        <% } %>
      <% } %>
    <% } %>

    <% if ((currentPage > cantLinks - offset) && (currentPage <= lastPage - offset)) { %>
      <% if ( cantLinks == lastPage ) {
        offset = lastPage;
      } %>

      <% for(i = currentPage - offset; i <= currentPage; i++) { %>
        <% if (i == currentPage) {%>
          <li class="active"><span><%= i %></span></li>
        <% } else { %>
          <li><a href="<%= pagination.url + '?page=' + i %>"><%= i %></a></li>
        <% } %>
      <% } %>

      <% if (cantLinks != lastPage) { %>
        <% for(i = currentPage + 1; i <= currentPage + offset; i++) { %>
          <li><a href="<%= pagination.url + '?page=' + i %>"><%= i %></a></li>
        <% } %>
      <% } %>

      <%
        if (cantLinks == lastPage){
          offset = 0;
        }
      %>
    <% } %>

    <% if (currentPage > lastPage - offset) { %>
      <% for(i = lastPage - cantLinks + 1; i <= lastPage; i++) { %>
        <% if (i == currentPage) {%>
          <li class="active"><span><%= i %></span></li>
        <% } else { %>
          <li><a href="<%= pagination.url + '?page=' + i %>"><%= i %></a></li>
        <% } %>
      <% } %>
    <% } %>

    <!-- Botón para navegar a la página siguinete -->
    <% if (currentPage < maxPage) {%>
      <li><a href="<%= pagination.url + '?page=' + nextPage %>" rel="next">&raquo;</a></li>
    <% } else { %>
      <li class="disabled"><span>&raquo;</span></li>
    <% } %>

    <!-- Botón para navegar a la última página -->
    <% if (currentPage < maxPage) {%>
      <li><a href="<%= pagination.url + '?page=' + lastPage %>" rel="next">&raquo;&raquo;</a></li>
    <% } else { %>
      <li class="disabled"><span>&raquo;&raquo;</span></li>
    <% } %>
  </ul>
  
<% } %>
